.env
.venv/
__pycache__/
.ipynb_checkpoints/

backend/**/__pycache__/
backend/data/raw/
backend/data/summaries/
backend/data/processed/*.csv

backend/assets/charts/
backend/assets/reports/
backend/assets/screenshots/

*.htm
*.html
!frontend/index.html

frontend/node_modules/
frontend/dist/

archive/
