.env
.venv/
__pycache__/
.ipynb_checkpoints/

data/raw/
data/summaries/
data/processed/final_scraped_academic_dashboard.csv

assets/screenshots/

*.htm
*.html
!assets/reports/gradescope_report.html

GradeScope_Public_Release.zip